* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: 'Noto Sans JP', sans-serif;
=======
    font-family: 'Roboto Condensed', sans-serif;
>>>>>>> 55c0b1bd953a64c5687be5cbe39f0b6b2972c164
  }
  .section{
   padding-left: 100px;
   padding-right: 100px;
  }
 

$primary-color: #0282f9;
$secondary-color:#464646;
@import "partialsCss/header";
@import "partialsCss/footer";
