* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  font-family: "Noto Sans JP", sans-serif;
=======
  font-family: "Roboto Condensed", sans-serif;
>>>>>>> 55c0b1bd953a64c5687be5cbe39f0b6b2972c164
}

.section {
  padding-left: 100px;
  padding-right: 100px;
}

.topperbar {
  background-color: #0282f9;
  width: 100%;
}

.mini-menu {
  width: 200px;
  color: white;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  font-weight: 700;
  font-size: 20px;
  font-weight: 700;
  color: #464646;
}

.listmenu {
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  letter-spacing: 0px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.listmenu a {
  color: #464646;
  text-decoration: none;
}

.searchbar {
  height: 25px;
  width: 200px;
}

.searchbar input {
<<<<<<< HEAD
  border-bottom: 3px solid #0282f9;
=======
  width: 100%;
  font-size: 20px;
  text-align: right;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #0282f9;
}

.searchbar input::-moz-placeholder {
  color: #464646;
  font-weight: 700;
}

.searchbar input:-ms-input-placeholder {
  color: #464646;
  font-weight: 700;
}

.searchbar input::placeholder {
  color: #464646;
  font-weight: 700;
}

.searchbar input::-moz-placeholder:focus-visible {
  outline: NONE;
}

.searchbar input:-ms-input-placeholder:focus-visible {
  outline: NONE;
}

.searchbar input::placeholder:focus-visible {
  outline: NONE;
>>>>>>> 55c0b1bd953a64c5687be5cbe39f0b6b2972c164
}

.hero {
  height: 400px;
  width: 100%;
  background-image: url("/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bigfooter {
  height: 400px;
  width: 100%;
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
  position: relative;
}

.bigfooter img {
  position: relative;
  bottom: 50px;
}

.frame {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer-lists {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footerCol {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 40px;
  font-size: 30px;
}

.footerCol li {
  text-transform: none;
  list-style: none;
  margin-top: 10px;
  opacity: 60%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.footerRow {
  height: 100%;
  width: 100%;
}

.footerRow p {
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 60%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

<<<<<<< HEAD
.smallfooter {
  height: 100px;
  width: 100%;
  background-color: #464646;
}

@font-face {
  font-family: "250072c23613fe0b - subset of Greta Sans Pro Bld";
  src: url("//db.onlinewebfonts.com/t/60d534f9b4ded0f0b50514c27ee3e83a.eot");
  src: url("//db.onlinewebfonts.com/t/60d534f9b4ded0f0b50514c27ee3e83a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/60d534f9b4ded0f0b50514c27ee3e83a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/60d534f9b4ded0f0b50514c27ee3e83a.woff") format("woff"), url("//db.onlinewebfonts.com/t/60d534f9b4ded0f0b50514c27ee3e83a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/60d534f9b4ded0f0b50514c27ee3e83a.svg#250072c23613fe0b - subset of Greta Sans Pro Bld") format("svg");
}

=======
>>>>>>> 55c0b1bd953a64c5687be5cbe39f0b6b2972c164
