.container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $tertiary-color;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 6);
    text-transform: uppercase;
    text-align: center;
    font-size: smaller;
    color: white;
}