.bigfooter{
    height: 400px;
    width: 100%;
    background-image: url('/images/footer-bg.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
    color: white;
    position: relative;

    & img {
    position:relative;
    bottom: 50px;
    }
}


.frame{
    display: flex;
    justify-content: space-between;
     align-items: stretch;
}

.footer-lists{
    margin-top: 30px;
    margin-bottom: 30px;
}


.footerCol{
   display: inline-block;
   text-transform: uppercase;
   margin-right: 40px ;
   font-size: 30px;

    & li {
    text-transform: none;
     list-style: none;
     margin-top: 10px;
     opacity: 60%;
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: lighter;
    
    }
}

.footerRow{
    height: 100%;
    width: 100%;
    & p{
        margin-top: 30px;
        margin-bottom: 20px;
        opacity: 60%;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
    }
}

.smallfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    width: 100%;
    background-color: $secondary-color;
}

.socialList{
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-color;
    display: flex;
    & * {
      margin-left: 20px;
     }
}
