.topperbar{
    background-color: $primary-color;
    width: 100%;
}
.mini-menu{
    width: 200px;
    color: white;
}

.header{
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 150px;
   font-weight: 700;
   font-size: 20px;
   font-weight: 700;
   color: $secondary-color;
}


.listmenu{
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    letter-spacing: 0px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
        & a{
            color: $secondary-color;
            text-decoration: none;
        }
}


.searchbar{
    height: 25px;
    width: 200px;  
}

& input{
    width: 100%;
    font-size: 20px;
    text-align: right;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $primary-color;

    &::placeholder {
        color: $secondary-color;
        font-weight: 700;
    }
}

.hero{
    height: 400px;
    width: 100%;
    background-image: url('/images/jumbotron.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}